
/* G: style menu tabs */
.header {
  background-color: white;
  overflow: hidden;
  max-width: 80%;
  margin: auto;
}

.header a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
}
.header a.name {
  float: left;
  font-family: 'ZCOOL XiaoWei', serif;
  padding-top: 30px;
  font-weight: bold;
  font-size: 55px;
}
.header a.name:hover{
  transition: all 1s ease-out;
  color: #002fa7;
}
.header a.tab {
  float: right;
  font-family: 'Open Sans', serif;
  padding-top: 40px;
  padding-right: 20px;
  font-size: 25px;
}
.header a.tab:hover{
  transform:scale(1.1);
  transition: all 0.9s ease-out;
  color: grey;
}
.header a.selected {
  float: right;
  font-family: 'Open Sans', serif;
  padding-top: 40px;
  padding-right: 20px;
  font-size: 28px;
  font-weight: bolder;
}

.content {
  max-width: 2000px;
  display: flex;
  /*border: 2px solid blue;*/
  margin: auto;
  justify-content: center;
}

.contact-container {
  flex: 1;
  padding-top: 20px;
  /*border: 2px solid red;*/
  margin-left: 205px;
  max-width: 500px;
}

#avatar {
  max-width: 100%;
}

#avatar img{
  position: relative;
  width: 100%;
  max-width: 350px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

#signature {
  max-width: 100%;
  padding-top: 10px;
}

.location {
  max-width: 100%;
  text-align: center;
}

#location-img{
  display: inline-block;
  padding-left: 20px;
}

#location-text{
  display: inline-block;
  text-align: left;
  max-width: 50%;
}

.email {
  max-width: 100%;
  text-align: center;
}

#email-img{
  display: inline-block;
}

#email-text{
  display: inline-block;
  text-align: left;
  max-width: 50%;
}

#social {
  max-width: 100%;
  padding-top: 20px;
  text-align: center;
  clear: both;
}

/*------- index/aboutme: avatar -------*/
.avatar {
  position: absolute;
  top: 120px;
  left: 10%;
  width: 50%;
  height: auto;
  display: block;
  /* border: 3px solid #73AD21; */ /* ruler */
}

#avatar-photo img{
  position: relative;
  left: 100px;
  width: 50%;
  height: auto;
  border-radius: 50%;
}

/*------- aboutme: signature -------*/
.signature {
  position: relative;
  width: 50%;
  height: 200px;
  display: block;
  padding-top: 50px;
  /* border: 3px solid #73AD21; /* ruler */
}

#signature p.name{
  text-align: center;
  font-family: 'Open Sans', serif;
  font-size: 24px;
  font-weight: bold;
}
#signature p.title{
  text-align: center;
  font-family: 'Open Sans', serif;
  font-size: 18px;
}

#signature p#location{
  text-align: center;
  font-family: 'Open Sans', serif;
  margin: 10px 10px;
}

#signature p#email{
  text-align: center;
  font-family: 'Open Sans', serif;
  margin: 10px 10px;
}

/*------- aboutme: social -------*/
.social {
  text-align: center;
  position: relative;
  top: 50px;
  left: 10%;
  width: 500px;
  height: 100px;
  /* border: 3px solid #73AD21; /* ruler */
}

#social a {
  text-decoration: none; 
}

#social a i {
  color: black;
}

#social a i:hover {
    transform:scale(1.3);
    transition: all 0.9s ease-out;
  }

#social a i.fa-github:hover {
    color: #6e5494;
  }

#social a i.fa-twitter:hover {
    color: #1DA1F2;
  }

#social a i.fa-linkedin:hover {
    color: #2867B2;
  }

#social a i.ai-google-scholar-square:hover {
    color: #4285F4;
  }

/*------- aboutme: bio -------*/
.bio {
  /*border: 3px solid green; /* ruler */
  width: 40%;
  margin-right: 205px;
  flex: 1;
  max-width: 500px;;
  padding-top: 20px;
  padding-left: 50px;
}

.bio p {
  font-size: 20px;
}

/* G: style footer */
.footer {
  background-color: white;
  font-size: 15px;
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
}